html
  head
    link(
      href='https://fonts.googleapis.com/css?family=PT+Serif:700|Roboto',
      rel='stylesheet',
    )
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1'
    )
    meta(
      name='fragment',
      content='!'
    )
    meta(
      charSet='utf-8'
    )
    meta(
      name='theme-color',
      content='#2c0e7a'
    )
  body
    #app
    script(src='//cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js')
    script(src='/base.bundle.js')
